/* CONTAINERS */

.page-offer-container {
  display: flex;
  justify-content: center;
  background-color: #ebedee;
  min-height: calc(100vh - 120px);
}

.page-offer-content {
  margin-top: 50px;
  width: 1280px;
  display: flex;
  justify-content: center;
  gap: 40px;
}

.offer-infos {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: space-between;
  background-color: white;
  width: 320px;
  padding: 40px;
}

.product-details {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.offer-line {
  display: block;
  width: 100%;
  height: 1px;
  background: rgba(17, 17, 17, 0.1);
}

.offer-content .user-infos {
  display: flex;
  align-items: center;
  gap: 20px;
}
/* IMAGES */

.main-content img {
  width: 450px;
  object-fit: cover;
}

.offer-content .avatar {
  height: 30px;
  width: 30px;
  background-color: green;
  border-radius: 50%;
  border: 1px solid black;
}

/* TEXT  */

.offer-infos .price {
  font-size: 24px;
  line-height: 32px;
  color: #111;
}

.infos-details span {
  font-size: 14px;
}

.infos-details .type {
  color: #999;
}

.infos-details .info {
  font-weight: bold;
}

.infos-details {
  display: flex;
  justify-content: space-between;
  gap: 5px;
}
.offer-content p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  unicode-bidi: isolate;
}
.offer-content .product-name {
  font-weight: 700;
}

.offer-content .product-description {
  color: #666;
}

/* BUTTONS  */

.buy {
  color: #fff;
  background: #09b1ba;
  border: solid 1px #09b1ba;
  border-radius: 4px;
  width: 100%;
  font-size: 16px;
  height: 36px;
  padding: 0 16px;
  line-height: 36px;
  margin-top: 32px;
}
