/* IMG */

header img {
  width: 75px;
}

.search-icon {
  position: absolute;
  top: 25%;
  left: 10px;
}

/* CONTAINERS */

header {
  display: flex;
  justify-content: center;
}

.header-content {
  width: 1280px;
  height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-search {
  display: flex;
  gap: 60px;
}

.header-buttons {
  display: flex;
  gap: 40px;
}

.disconnected-buttons {
  display: flex;
  gap: 30px;
}

.connected-buttons {
  display: flex;
  gap: 30px;
}
.search-container {
  position: relative;
}

.filters {
  display: flex;
  align-items: center;
  margin-top: 15px;
}

.sort {
  flex: 1;
  display: flex;
}

.range {
  flex: 3;
}
/* HEADER BUTTONS */

.header-button {
  height: 30px;
  width: 115px;
  border: 1px solid #2cb1ba;
  border-radius: 5px;
  font-size: 12px;
  outline: none;
}

.user-button {
  background-color: white;
  color: #2cb1ba;
}

.sell-button {
  background-color: #2cb1ba;
  color: #fff;
  font-weight: bold;
}

.connected {
  background-color: rgb(194, 54, 54);
  color: white;
  font-weight: bold;
  border: none;
}

/* INPUT */

.search-item {
  width: 590px;
  padding-left: 40px;
  background-color: #f5f6f7;
  border-radius: 5px;
  height: 37px;
  border: none;
  outline: none;
  font-size: 16px;
}

/* TEXT  */

.sort-price {
  font-size: 14px;
  margin-right: 10;
  color: #2cb1ba;
  display: flex;
  gap: 3px;
  align-items: center;
}

.arrow {
  transition: transform 0.3s ease; /* Transition de 0.3 secondes pour la rotation */
}

.up {
  transform: rotate(0deg); /* Flèche orientée vers le haut */
}

.down {
  transform: rotate(180deg); /* Flèche orientée vers le bas */
}
